<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="maxConcurrentPageDownloads" value="10"/>        <!-- How many pages to download concurrently. -->
    <add key="delayBetweenChapters" value="2000"/>            <!-- Number os milliseconds to wait before downloading next chapter. -->
    <add key="urlBase" value="http://img.mangastream.to"/>    <!-- Base URL to download images from. -->
    <add key="urlImageFolder" value="/manga/"/>               <!-- "folder" containing the images-->
    <add key="urlManga" value="naruto"/>                      <!-- Wich manga to download. -->
    <add key="urlExtension" value=".png"/> 
    <add key="startChapter" value="661"/>                     <!-- Wich chapter to start downloading from. -->
    <add key="endChapter" value="687"/>                       <!-- Last chapter to download. -->
  </appSettings>
</configuration>