<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Base URL to download chapters from. -->
    <add key="urlBase" value="http://www.mangastream.to/naruto-chapter-{0}-page-{1}.html" />
    <!-- How many pages to download concurrently. -->
    <add key="maxConcurrentPageDownloads" value="10" />
    <!-- Number of milliseconds to wait before downloading next chapter. -->
    <add key="delayBetweenChapters" value="2000" />
    <!-- Wich chapter to start downloading from. -->
    <add key="startChapter" value="661" />
    <!-- Last chapter to download. -->
    <add key="endChapter" value="661" />
    <!-- Folder where the manga will be downloaded to. -->
    <add key="SavePath" value="c:\Naruto\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>